################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/StringBenchmarks/obj
/StringBenchmarks/bin
/.vs/StringBenchmarks
