################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/StringBenchmarks/obj
/StringBenchmarks/bin
/AnotherOneStringBuilderTests/obj
/AnotherOneStringBuilderTests/bin
/.vs
*.user
/StringBenchmarks.sln.DotSettings.user
